.experience_mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  /* height: 400px; */
  background-color: #052342;
}

.experience_mainContainer aside {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  margin-top: 20px;
  padding-bottom: 2rem;
  transform: translateY(-50px);

}

.experience_verticalLine {
  height: 60px;
  width: 3px;
  background-color: #FFB400;
}

.experience_firstSection {
  margin: 50px;
  padding-top: 30px;
}

.experience_firstSection h2 {
  margin-left: 30px;
}

.experience_title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: center;
  height: 80px;
}

.experience_title span {
  font-size: 18px;
  margin-left: 18px;
}



.experience_horizontalLine {
  height: 3px;
  width: 50px;
  background-color: #FFB400;
}

@media screen and (max-width: 800px) {
  .experience_horizontalLine {
    width: 25px;
  }

  .experience_title {
    text-align: left;
    padding: 0px 20px 0 20px;
  }

  .experience_mainContainer aside {
    width: 100%;
    gap: 1rem;
    margin-top: 20px;
    padding-bottom: 2rem;
  }
}