.hero_mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: #ffff;
}

.hero_presentation {
  width: 70%;

}

.hero_presentation_firstSection {
  margin-left: 8%;
  margin-top: 8%;
}

.hero_presentation_firstSection p {
  font-size: 24px;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.hero_presentation_firstSection button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: black;
  font-size: large;
  font-weight: bold;
  border-color: transparent;
  background-color: #FFB400;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.hero_presentation_verticalLine {
  height: 100px;
  width: 3px;
  background-color: #FFB400;

}

.hero_presentation_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.hero_presentation_title {
  font-size: medium;
}

.hero_presentation_horizontalLine {
  height: 3px;
  width: 50px;
  background-color: #FFB400;

}

.hero_presentation_description {
  margin-left: 8%;
  margin-top: 5%;
}

.hero_services {
  height: 800px;
  width: 30%;
  background-color: #FFB400;
  padding-right: 5%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hero_services h2 {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero_services_all {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 2000px;
  padding: 1.5rem 0 1.5rem 0;

}

.hero_services_each {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 100%;
  height: 40px;
  gap: 25px;
  padding-left: 20px;
  margin-right: 30px;
  align-items: center;
  justify-content: space-evenly;
}

.hero_services_each img {
  position: absolute;
  left: 50px;
}

.hero_services_each small {
  flex: 1;
  word-wrap: break-word;
  position: absolute;
  left: 125px;
  height: auto;
  width: 60%;

}

.hero_services_each small p {
  font-size: 16px;
}

@media screen and (min-width: 800px) and (max-width: 1100px) {

  .hero_presentation {
    width: 65%;
  }

  .hero_services {
    height: 800px;
    width: 35%;
  }

  .hero_services_each img {
    left: 20px;
    height: 40px;
    width: 40px;
  }

  .hero_services_each small {
    left: 75px;
    width: 75%;
  }

  .hero_services h2 {
    margin-left: 50px;
  }

}

.hero_services_each h3,
p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .hero_mainContainer {
    display: flex;
    flex-direction: column;
  }

  .hero_presentation {
    width: 100%;
    height: 800px;
  }

  .hero_services {
    width: 100%;
    height: 900px;
    padding-top: 50px;
    font-size: 22px;
  }

}

@media screen and (max-width: 440px) {

  .hero_presentation {
    height: auto;
  }

  .hero_presentation_firstSection {
    height: 50vh;
  }

  .hero_presentation_firstSection button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 2rem;
  }

  .hero_presentation_firstSection h1 {
    font-size: 32px;
    margin: 2rem 0 1rem 0;
  }

  .hero_presentation_firstSection p {
    margin: 2rem;
    font-size: 18px;
    width: 80%;
  }

  .hero_presentation_title h2 {
    font-size: 18px;
    width: 60%;
  }

  .hero_presentation_horizontalLine {
    width: 40px;
  }

  .hero_presentation_description {
    transform: translateY(-35%);
  }

  .hero_services h2 {
    font-size: 24px;
    transform: translateY(-50%);
  }

  .hero_services_each img {
    width: 40px;
    height: 40px;
  }

  .hero_services_each {
    font-size: 18px;
  }
}