.about_mainContainer {
  position: relative;
  height: 700px;
}

.about_image {
  margin-top: 100px;
  height: 600px;
  width: 700px;
  background-color: #9a9a9a;
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
}

.about_image img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.about_aboutme {
  margin-top: 100px;
  height: 350px;
  width: 300px;
  background-color: #0838b4;
  position: absolute;
  right: -25%;
  bottom: 50%;
  transform: translateY(50%);
}

.about_aboutme h2,
h4,
button {
  padding: 0 1.2rem;
}