.contact_mainContainer {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact_information {
  padding: 2rem;
  width: 35%;
  background-color: #052342;
  font-size: large;
}

.contact_information img {
  height: 20px;
  width: 20px;
}

.contact_information h5,
h3 {
  margin: 50px 0 0 2rem;
  display: flex;
  flex-direction: row;
}

.contact_information_data {
  margin: 50px 0 0 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.contact_information_data p {
  padding-left: 1.5rem;
}


.contact_form {
  width: 35%;
  border-radius: 0 50px 50px 0;
  background-color: gray;

}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #000 solid;
  display: block;
  width: 80%;
  padding: 5px 0;
  font-size: 18px;
  color: #000;
  transition: all 0.5s ease;
}

input:focus,
input:valid {
  outline: 0;
  border-bottom-color: #0838B4;
  transition: all 0.5s ease;
}




.contact_form button {
  padding: 10px 20px;
  background-color: #0838B4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.formError {
  color: #790707;
}

button:hover {
  background-color: #052342;
}



label {
  display: block;
  margin-bottom: 5px;
  pointer-events: none;
  color: #0838B4;

}

fieldset {
  border: none;
}

form {
  padding: 2rem;
}